main {
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
}

.container-slide {
    display: flex;
    justify-content: space-between;
    width: 65vw;
    height: 60vh;
    background-color: black;
    box-shadow: 0 20px 30px #00000088;
}

.container-items {
    position: absolute;
    display: flex;
    width: 65vw;
    height: 60vh;
    overflow: hidden;
}

.item {
    width: 65vw;
    height: 60vh;
    transition: all 1s;
}

.item:first-child {
    margin-left: -100%;
}

.item img {
    width: 65vw;
    height: 60vh;
}

.action-button {
    font: bold 30px sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    color: #00000000;
    user-select: none;
    z-index: 1;
}

.action-button:hover {
    color: white;
    background-color: #00000088;
    cursor: pointer;
    transition: all 1s;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.back-button{
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 10px;
    background-color: #E62721;
    border: 1px solid transparent;
    transition: border ease-in-out .6s;
}
.back-button:hover{
    border: 1px solid #ffff;
}

@media (max-width:768px) {

    main{
        height: auto;
    }
    .container-slide {

        width: 65vw;
        height: 40vh;

    }
    
    .container-items {
   
        width: 65vw;
        height: 40vh;
       
    }
    
    .item {
        width: 65vw;
        height: 40vh;
        
    }

    .item img {
        width: 65vw;
        height: 40vh;
    }
    
}

