main{
    padding: 120px 50px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.personagens-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;
    max-width: 1000px;
}
.personagem-container{
    width: 340px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personagem-title{
    font-size: 2rem;
}
.personagem-description{
    font-weight: 300;
}
.back-button{
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    border-radius: 10px;
    background-color: #E62721;
    margin-top: 50px;
    border: 1px solid transparent;
    transition: border ease-in-out .6s;
}
.back-button:hover{
    border: 1px solid #ffff;
}